<h2>Dataset Head</h2>

In [ ]:
import pandas as pd

max_temp_csv= "daily-max-temp-CBR.csv"

df1 = pd.read_csv(max_temp_csv)

df1.head()

,Product code,Bureau of Meteorology station number,Year,Month,Day,Maximum temperature (Degree C),Days of accumulation of maximum temperature,Quality
0,IDCJAC0010,70351,2008,1,1,NaN,NaN,NaN
1,IDCJAC0010,70351,2008,1,2,NaN,NaN,NaN
2,IDCJAC0010,70351,2008,1,3,NaN,NaN,NaN
3,IDCJAC0010,70351,2008,1,4,NaN,NaN,NaN
4,IDCJAC0010,70351,2008,1,5,NaN,NaN,NaN

In [ ]:
min_temp_csv= "daily-min-temp-CBR.csv"

df2 = pd.read_csv(min_temp_csv)

df2.head()

,Product code,Bureau of Meteorology station number,Year,Month,Day,Minimum temperature (Degree C),Days of accumulation of minimum temperature,Quality
0,IDCJAC0011,70351,2008,1,1,NaN,NaN,NaN
1,IDCJAC0011,70351,2008,1,2,NaN,NaN,NaN
2,IDCJAC0011,70351,2008,1,3,NaN,NaN,NaN
3,IDCJAC0011,70351,2008,1,4,NaN,NaN,NaN
4,IDCJAC0011,70351,2008,1,5,NaN,NaN,NaN

<h2>Dataset Shape</h2>

In [21]:
rows, columns = df1.shape
print("Rows:", rows)
print("Columns:", columns)

Rows: 4261
Columns: 8

In [22]:
rows, columns = df2.shape
print("Rows:", rows)
print("Columns:", columns)

Rows: 4261
Columns: 8

<h2>  Data type of different Columns</h2>

In [ ]:
# converting same data types columns to list 
int64_type_list1 = df1.select_dtypes(include=['int64']).columns.tolist()
float64_type_list1 = df1.select_dtypes(include=['float64']).columns.tolist()
object_type_list1 = df1.select_dtypes(include=['object']).columns.tolist()

print((int64_type_list1))
print((float64_type_list1))
print((object_type_list1))

['Bureau of Meteorology station number', 'Year', 'Month', 'Day']
['Maximum temperature (Degree C)', 'Days of accumulation of maximum temperature']
['Product code', 'Quality']

In [ ]:
int64_type_list2=df2.select_dtypes(include=['int64']).columns.tolist()
float64_type_list2=df2.select_dtypes(include=['float64']).columns.tolist()
object_type_list2=df2.select_dtypes(include=['object']).columns.tolist()

print((int64_type_list2))
print((float64_type_list2))
print((object_type_list2))

['Bureau of Meteorology station number', 'Year', 'Month', 'Day']
['Minimum temperature (Degree C)', 'Days of accumulation of minimum temperature']
['Product code', 'Quality']

<h2>Drop And Merge Columns</h2>

<h4>There is not need of Product code. There is not different values in  'Bureau of Meteorology station number' column so it serves no purpose</h4>

In [ ]:
print (df1['Bureau of Meteorology station number'].nunique()) # 1
print(df2['Bureau of Meteorology station number'].nunique()) # 1




df1= df1.drop(columns=['Product code'])
df2= df2.drop(columns=['Product code'])


df1=df1.drop(columns=['Bureau of Meteorology station number'])
df2=df2.drop(columns=['Bureau of Meteorology station number'])

KeyError: 'Bureau of Meteorology station number'

In [48]:
df1.head()

,Year,Month,Day,Maximum temperature (Degree C),Days of accumulation of maximum temperature,Quality
0,2008,1,1,NaN,NaN,NaN
1,2008,1,2,NaN,NaN,NaN
2,2008,1,3,NaN,NaN,NaN
3,2008,1,4,NaN,NaN,NaN
4,2008,1,5,NaN,NaN,NaN

In [49]:
df2.head()

,Year,Month,Day,Minimum temperature (Degree C),Days of accumulation of minimum temperature,Quality
0,2008,1,1,NaN,NaN,NaN
1,2008,1,2,NaN,NaN,NaN
2,2008,1,3,NaN,NaN,NaN
3,2008,1,4,NaN,NaN,NaN
4,2008,1,5,NaN,NaN,NaN

In [51]:
df1.shape

(4261, 6)

In [53]:
df1.shape

(4261, 6)

In [ ]:
print ("Days unique values : ",(df1['Day']==df2['Day']).nunique) # both are same columns 
print ("Months unique values : ",(df1['Month']==df2['Month']).nunique) # both are same columns 
print ("Year unique values : ",(df1['Year']==df2['Year']).nunique) # both are same columns 
print ("Quality unique values : ",(df1['Quality']==df2['Quality']).nunique) # both are same columns

Days unique values :  <bound method IndexOpsMixin.nunique of 0       True
1       True
2       True
3       True
4       True
        ...
4256    True
4257    True
4258    True
4259    True
4260    True
Name: Day, Length: 4261, dtype: bool>
Months unique values :  <bound method IndexOpsMixin.nunique of 0       True
1       True
2       True
3       True
4       True
        ...
4256    True
4257    True
4258    True
4259    True
4260    True
Name: Month, Length: 4261, dtype: bool>
Year unique values :  <bound method IndexOpsMixin.nunique of 0       True
1       True
2       True
3       True
4       True
        ...
4256    True
4257    True
4258    True
4259    True
4260    True
Name: Year, Length: 4261, dtype: bool>
Quality unique values :  <bound method IndexOpsMixin.nunique of 0       False
1       False
2       False
3       False
4       False
        ...
4256     True
4257     True
4258     True
4259     True
4260     True
Name: Quality, Length: 4261, dtype: bool>

<h4>Only these below two columns are different rest of are same so that's why merging required on two columns</h4>

In [ ]:
# merged_dataset = pd.concat([df1,df2[['Minimum temperature (Degree C)', 'Days of accumulation of minimum temperature']]]) 
merged_dataset = df1.join(df2[['Minimum temperature (Degree C)', 'Days of accumulation of minimum temperature']])

merged_dataset.head()

NameError: name 'files' is not defined

In [96]:
merged_dataset.shape

(4261, 8)

<h2>Missing Values</h2>

<h4>. Checking Null Values for Int and Float data type columns</h4>

In [100]:
nan_int_float_indices= {}

int_float_columns = merged_dataset.select_dtypes(include=['int64','float64'])

for column in int_float_columns.columns:
    mask= int_float_columns[column].isna()  # filter the rows with NaN 
    indices = int_float_columns[column][mask].index.tolist()  # find row index and converting to list
    nan_int_float_indices[column] = indices # storing in dictionary
    

for column, list in nan_int_float_indices.items():
     print(f"{column}: {len(list)} NaN values")  # count each list NaN


# nan_int_float_indices

Year: 0 NaN values
Month: 0 NaN values
Day: 0 NaN values
Maximum temperature (Degree C): 0 NaN values
Days of accumulation of maximum temperature: 0 NaN values
Minimum temperature (Degree C): 0 NaN values
Days of accumulation of minimum temperature: 0 NaN values

<h4>. Checking NaN (shows None in excel) or Empty('') and Zero('0')  value in Object data type columns</h4>

In [ ]:
object_type_list = df1.select_dtypes(include=['object'])
print("NaN values :", object_type_list.isna().sum())

NaN values : Quality    267
dtype: int64

<h2>Null, Empty and None values removal</h2>

<h4>For temperature and days, taking average is best approch, becuase we can say if the value is missing then the temperature and days count will be average</h4>

In [98]:
print (merged_dataset['Days of accumulation of maximum temperature'].mean())
print (merged_dataset['Days of accumulation of minimum temperature'].mean())
print (merged_dataset['Maximum temperature (Degree C)'].mean())
print (merged_dataset['Minimum temperature (Degree C)'].mean())

1.0
1.0
21.195743615423137
6.721358736525445

In [110]:

c1='Days of accumulation of maximum temperature'
c2='Days of accumulation of minimum temperature'
c3='Maximum temperature (Degree C)'
c4='Minimum temperature (Degree C)'
c5='Quality'

m1= merged_dataset[c1].mean()
m2= merged_dataset[c2].mean()
m3= merged_dataset[c3].mean()
m4= merged_dataset[c4].mean()
m5=pd.to_numeric(merged_dataset[c5].mean())




merged_dataset[c1]=merged_dataset[c1].fillna(m1)
merged_dataset[c2]=merged_dataset[c2].fillna(m2)
merged_dataset[c3]=merged_dataset[c3].fillna(m3)
merged_dataset[c4]=merged_dataset[c4].fillna(m4)

merged_dataset[c5]=pd.to_numeric(merged_dataset[c5].fillna(m5))




merged_dataset.head()

TypeError: unsupported operand type(s) for +: 'int' and 'str'